/* Reset */

h1, hr {
    margin: initial;
}

/* Layouts */

.wrapper {
    width: 250px;
    margin: 100px auto;
}

/* Components */

body {
    background-color: #dddddd;
}

.list-section {
    display: flow-root;
    background-color: #efefef;
    border-radius: 18px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.list-header {
    background-color: #ffffff;
    height: 65px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

h1 {
    display: inline-block;
    margin-top: 24px;
    padding-left: 12px;
    border-left: 7px solid #ff1493;
    font-size: 16px;
    color: #ff1493;
}

hr {
    background-color: #dddddd;
    height: 1px;
    border: 1px solid #dddddd;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    background-color: #ffffff;
    margin: 8px 16px;
    padding: 5px 8px;
    border: 3px solid #aaaaaa;
    border-radius: 3px;
    font-size: 10px;
}

.blue-list {
    border-color: #1e91ff;
    color: #1e91ff;
}


